#http://docs.travis-ci.com/user/languages/android/#stq=&stp=0
# how 2 trigger travis on non-master branch???
language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-22  ANDROID_ABI=x86
    # no android-23 yet 20150925
    #- ANDROID_TARGET=android-23  ANDROID_ABI=armeabi-v7a

android:
  components:
  #  - build-tools-19.0.0
    - build-tools-23
    
    
    - android-22
    - sys-img-armeabi-v7a-android-22
    - sys-img-x86-android-22

before_script:
  # Create and start emulator
  - echo PATH $PATH
  - android list target
  - uname -a
  - df -h
  - mount
  - cat /proc/cpuinfo
  - echo $ANDROID_TARGET 
  - echo $ANDROID_ABI
  - sudo modprobe kvm-intel
  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
  - adb wait-for-device
  - cat `which android-wait-for-emulator`
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script: adb shell monkey -p com.android.launcher -v 999
